version: '3.8'

services:
  jupyter:
    build:
      context: .
      dockerfile: Dockerfile.train
    ports:
      - "8889:8888"
    volumes:
      - ./:/workspace
    working_dir: /workspace
    command: jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --allow-root --NotebookApp.token=''

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.train
    ports:
      - "5050:5000"
    volumes:
      - ./:/workspace
      - mlflow_data:/mlruns
    working_dir: /workspace
    command: mlflow server --host 0.0.0.0 --port 5000

volumes:
  mlflow_data: